flow/kspflows.json
[
    {
        "id": "6c281c8f.cbebc4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6e14664.ebf688",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "ourshark.mysmarthome.vn",
        "port": "8097",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "e3ed5d37.01305",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt.mysmarthome.vn",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "f4134e17.6b60a",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0c9ec2",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "iNut Platform Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 64,
                "sy": 64,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "294eb87b.b71b48",
        "type": "ui_tab",
        "z": "",
        "name": "Kiểm thử iNut cảm biến",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "62cc449d.959c9c",
        "type": "ui_group",
        "z": "",
        "name": "Thứ 2",
        "tab": "294eb87b.b71b48",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "a4d5c147.5c318",
        "type": "ui_tab",
        "z": "",
        "name": "Cảm biến tòa 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "2205c075.fa443",
        "type": "ui_group",
        "z": "",
        "name": "Test",
        "tab": "a4d5c147.5c318",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "52cad39c.c8472c",
        "type": "ui_group",
        "z": "",
        "name": "Thứ nhất",
        "tab": "294eb87b.b71b48",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "81dc1f08.a421b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.mysmarthome.vn",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "288ffa01.3284b6",
        "type": "debug",
        "z": "6c281c8f.cbebc4",
        "name": "in ra màn hình để debug thông tin",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 942.7475509643555,
        "y": 584.5758943557739,
        "wires": []
    },
    {
        "id": "b75a1f12.b6263",
        "type": "function",
        "z": "6c281c8f.cbebc4",
        "name": "Chuẩn bị lệnh trước khi gửi đến iNut cảm biến",
        "func": "var json = {\"id\": 0, \"command\": msg.payload};\nmsg.payload = json;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 504.50006103515625,
        "y": 583.3334693908691,
        "wires": [
            [
                "288ffa01.3284b6",
                "b3678c9b.6734b"
            ]
        ]
    },
    {
        "id": "bb347159.0a591",
        "type": "json",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 253.01303100585938,
        "y": 703.1770629882812,
        "wires": [
            [
                "525d0fd3.73b93",
                "db8039c1.5197b8",
                "206bcfd9.9e552",
                "4a158625.fd60c8",
                "f4fdb86f.b8bfb8",
                "c71896ff.207c68",
                "6fbbd04e.2b2c5",
                "d02663b5.b55c3"
            ]
        ]
    },
    {
        "id": "525d0fd3.73b93",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "Trạng thái thiết bị số 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 434.0130310058594,
        "y": 704.1770629882812,
        "wires": [
            [
                "f1cf4bb3.dd8498"
            ]
        ]
    },
    {
        "id": "db8039c1.5197b8",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "Trạng thái thiết bị số 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[1].state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 433.0130310058594,
        "y": 745.1770629882812,
        "wires": [
            [
                "a4ab8ad8.4a9368"
            ]
        ]
    },
    {
        "id": "a4ab8ad8.4a9368",
        "type": "ui_gauge",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "52cad39c.c8472c",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Data 1",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#1f964f",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 608.0129814147949,
        "y": 745.1770792007446,
        "wires": []
    },
    {
        "id": "f1cf4bb3.dd8498",
        "type": "ui_gauge",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "52cad39c.c8472c",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Data 0",
        "label": "mưa",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#1f964f",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 607.104248046875,
        "y": 704.4687271118164,
        "wires": []
    },
    {
        "id": "206bcfd9.9e552",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "Trạng thái thiết bị số 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[2].state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 433.0130310058594,
        "y": 787.0103759765625,
        "wires": [
            [
                "b3c5af9f.6a0ce"
            ]
        ]
    },
    {
        "id": "4a158625.fd60c8",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "Trạng thái thiết bị số 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[3].state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 432.0130310058594,
        "y": 828.0103759765625,
        "wires": [
            [
                "ee56bf79.426e5"
            ]
        ]
    },
    {
        "id": "ee56bf79.426e5",
        "type": "ui_gauge",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "52cad39c.c8472c",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Data 3",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#1f964f",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 607.0129814147949,
        "y": 828.0103921890259,
        "wires": []
    },
    {
        "id": "b3c5af9f.6a0ce",
        "type": "ui_gauge",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "52cad39c.c8472c",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Data 2",
        "label": "mưa",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#1f964f",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 606.104248046875,
        "y": 787.3020401000977,
        "wires": []
    },
    {
        "id": "f4fdb86f.b8bfb8",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "Trạng thái thiết bị số 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[4].state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 431.0130310058594,
        "y": 872.0103759765625,
        "wires": [
            [
                "fffcfea8.d5045"
            ]
        ]
    },
    {
        "id": "c71896ff.207c68",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "Trạng thái thiết bị số 5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[5].state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430.0130310058594,
        "y": 913.0103759765625,
        "wires": [
            [
                "67c874c8.82d9bc"
            ]
        ]
    },
    {
        "id": "67c874c8.82d9bc",
        "type": "ui_gauge",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "62cc449d.959c9c",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Data 5",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#1f964f",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 605.0129814147949,
        "y": 913.0103921890259,
        "wires": []
    },
    {
        "id": "fffcfea8.d5045",
        "type": "ui_gauge",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "62cc449d.959c9c",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Data 4",
        "label": "mưa",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#1f964f",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 604.104248046875,
        "y": 872.3020401000977,
        "wires": []
    },
    {
        "id": "6fbbd04e.2b2c5",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "Trạng thái thiết bị số 6",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[6].state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430.0130310058594,
        "y": 954.8436889648438,
        "wires": [
            [
                "73983b88.f4dad4"
            ]
        ]
    },
    {
        "id": "d02663b5.b55c3",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "Trạng thái thiết bị số 7",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[7].state",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 429.0130310058594,
        "y": 995.8436889648438,
        "wires": [
            [
                "5ae9c1.85d5f64"
            ]
        ]
    },
    {
        "id": "5ae9c1.85d5f64",
        "type": "ui_gauge",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "62cc449d.959c9c",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Data 7",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#1f964f",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 604.0129814147949,
        "y": 995.8437051773071,
        "wires": []
    },
    {
        "id": "73983b88.f4dad4",
        "type": "ui_gauge",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "62cc449d.959c9c",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Data 6",
        "label": "mưa",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#1f964f",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 603.104248046875,
        "y": 955.1353530883789,
        "wires": []
    },
    {
        "id": "e09a7350.a2dd5",
        "type": "ui_text_input",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "label": "Gửi lệnh xuống iNut cảm biến",
        "group": "52cad39c.c8472c",
        "order": 5,
        "width": "4",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 164.00003051757812,
        "y": 583.4348773956299,
        "wires": [
            [
                "b75a1f12.b6263",
                "69ed9ac5.de4844",
                "590b8244.009d2c"
            ]
        ]
    },
    {
        "id": "cc0ed351.1b9fd",
        "type": "ui_text",
        "z": "6c281c8f.cbebc4",
        "group": "62cc449d.959c9c",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Đã gửi lệnh",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 705.2860641479492,
        "y": 623.5099353790283,
        "wires": []
    },
    {
        "id": "69ed9ac5.de4844",
        "type": "function",
        "z": "6c281c8f.cbebc4",
        "name": "Lấy độ dài chuỗi",
        "func": "\nmsg.payload =  msg.payload.length;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 404.0130310058594,
        "y": 665.0103759765625,
        "wires": [
            [
                "214412d6.6f4d3e"
            ]
        ]
    },
    {
        "id": "214412d6.6f4d3e",
        "type": "ui_numeric",
        "z": "6c281c8f.cbebc4",
        "name": "Độ dài chuỗi",
        "label": "",
        "group": "52cad39c.c8472c",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "32",
        "step": 1,
        "x": 577.1067504882812,
        "y": 662.4635229110718,
        "wires": [
            []
        ]
    },
    {
        "id": "590b8244.009d2c",
        "type": "function",
        "z": "6c281c8f.cbebc4",
        "name": "Lấy đoạn chuỗi mà Arduino nhận được",
        "func": "\nmsg.payload =  msg.payload.substr(0, 32);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 472.13307189941406,
        "y": 623.6457557678223,
        "wires": [
            [
                "cc0ed351.1b9fd"
            ]
        ]
    },
    {
        "id": "81b851a6.551a4",
        "type": "mqtt in",
        "z": "6c281c8f.cbebc4",
        "name": "[MQTT-IN]Phòng kho",
        "topic": "request/HEOaetulJ9aT52hjqnlGKXGJG9K2/ByNwJX83M/fb9ed3c4fd00d68afd193da32dc8491c699707895565",
        "qos": "2",
        "broker": "81dc1f08.a421b",
        "x": 105,
        "y": 650,
        "wires": [
            [
                "bb347159.0a591"
            ]
        ]
    },
    {
        "id": "b3678c9b.6734b",
        "type": "http request",
        "z": "6c281c8f.cbebc4",
        "name": "[REST][POST]Phòng kho",
        "method": "POST",
        "ret": "txt",
        "url": "https://connect.mysmarthome.vn/api/1.0/request/HEOaetulJ9aT52hjqnlGKXGJG9K2/ByNwJX83M/fb9ed3c4fd00d68afd193da32dc8491c699707895565/req_device_toggle",
        "tls": "",
        "x": 922,
        "y": 639,
        "wires": [
            []
        ]
    }
]