flow/kspflows.json
[
    {
        "id": "6c281c8f.cbebc4",
        "type": "tab",
        "label": "Quản lý trạng thái",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1b7cab7.de39555",
        "type": "tab",
        "label": "Điều khiển từ xa",
        "disabled": false,
        "info": ""
    },
    {
        "id": "16fa6e68.10eb82",
        "type": "subflow",
        "name": "Lấy dữ từ iNut",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "b10e0e64.9d8a1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 859.0000343322754,
                "y": 98.00000190734863,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 0
                    }
                ]
            },
            {
                "x": 968.0000343322754,
                "y": 102.00000286102295,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1048.9999732971191,
                "y": 101.00000381469727,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 2
                    }
                ]
            },
            {
                "x": 1116.9999732971191,
                "y": 112.00000381469727,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 3
                    }
                ]
            },
            {
                "x": 1178.0000820159912,
                "y": 129.0000057220459,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 4
                    }
                ]
            },
            {
                "x": 1216.0000820159912,
                "y": 188.0000057220459,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 5
                    }
                ]
            },
            {
                "x": 1189.0000839233398,
                "y": 263.00000762939453,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 6
                    }
                ]
            },
            {
                "x": 1173.9999742507935,
                "y": 312.00000762939453,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 7
                    }
                ]
            }
        ],
        "inputLabels": [
            "Nhận đầu vào MQTT IN từ iNut cảm biến"
        ],
        "outputLabels": [
            "Luồng cảm biến 1",
            "Luồng cảm biến 2",
            "Luồng cảm biến 3",
            "Luồng cảm biến 4",
            "Luồng cảm biến 5",
            "Luồng cảm biến 6",
            "Luồng cảm biến 7",
            "Luồng cảm biến 8"
        ]
    },
    {
        "id": "82e9215c.98061",
        "type": "subflow",
        "name": "Kiểm tra trạng thái kết nối Internet",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "ed1d143b.8d72f8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 625.0000095367432,
                "y": 120.00000381469727,
                "wires": [
                    {
                        "id": "ccb3b312.78428",
                        "port": 0
                    }
                ]
            },
            {
                "x": 625.0000095367432,
                "y": 181.00000190734863,
                "wires": [
                    {
                        "id": "21e9e336.e4036c",
                        "port": 0
                    }
                ]
            }
        ],
        "inputLabels": [
            "Kết quả trả về của iNut cảm biến"
        ],
        "outputLabels": [
            "Thiết bị đang online (dã vào mạng)",
            "Thiết bị đang offline (đã rớt mạng)"
        ]
    },
    {
        "id": "7ea1344.e6be0cc",
        "type": "subflow",
        "name": "Lấy dữ liệu iNut i3",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "eaafdfe5.f8be"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 891.0000019073486,
                "y": 247,
                "wires": [
                    {
                        "id": "bf4318b.b2e0ae8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 936.0000076293945,
                "y": 332.00000190734863,
                "wires": [
                    {
                        "id": "bf4318b.b2e0ae8",
                        "port": 1
                    }
                ]
            },
            {
                "x": 904.0000076293945,
                "y": 458.00000190734863,
                "wires": [
                    {
                        "id": "bf4318b.b2e0ae8",
                        "port": 2
                    }
                ]
            }
        ],
        "outputLabels": [
            "Thiết bị relay 1",
            "Thiết bị relay 2",
            "Thiết bị relay 3"
        ]
    },
    {
        "id": "f4134e17.6b60a",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#e3471a",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Trạm bơm màu cam",
                "default": "#4B7930",
                "baseColor": "#ff8040",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#d2d7ec",
                    "value": "#ff8040",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#ff8040",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ffb38c",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#ff8040",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "[iNut i3]Trạm bơm ",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 72,
                "sy": 81,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "294eb87b.b71b48",
        "type": "ui_tab",
        "z": "",
        "name": "Kiểm thử iNut cảm biến",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "a4d5c147.5c318",
        "type": "ui_tab",
        "z": "",
        "name": "Demo trạm bơm nước",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "e3f2b7f4.3560e8",
        "type": "ui_group",
        "z": "",
        "name": "Giao diện",
        "tab": "a4d5c147.5c318",
        "order": 1,
        "disp": false,
        "width": "13",
        "collapse": false
    },
    {
        "id": "bd2e0753.422cb8",
        "type": "ui_group",
        "z": "",
        "name": "Trạng thái bơm",
        "tab": "a4d5c147.5c318",
        "order": 2,
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "465809b1.3550c8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.mysmarthome.vn",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "b10e0e64.9d8a1",
        "type": "json",
        "z": "16fa6e68.10eb82",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 165,
        "y": 84,
        "wires": [
            [
                "1e1494ef.cac0fb"
            ]
        ]
    },
    {
        "id": "f5a4c5c2.980f98",
        "type": "switch",
        "z": "16fa6e68.10eb82",
        "name": "Phân luồn",
        "property": "relayId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 825.9869575500488,
        "y": 288.1562738418579,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "1e1494ef.cac0fb",
        "type": "function",
        "z": "16fa6e68.10eb82",
        "name": "Lặp",
        "func": "if (!msg.states) {\n    msg.states = msg.payload\n    msg.i = 0\n    msg.realTopic = msg.topic\n    return msg;\n} else {\n    msg.i++\n    \n    if (msg.i < msg.states.length)\n        return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 327.89060974121094,
        "y": 83.33600330352783,
        "wires": [
            [
                "c3a97343.a2626"
            ]
        ]
    },
    {
        "id": "c3a97343.a2626",
        "type": "function",
        "z": "16fa6e68.10eb82",
        "name": "Lấy trạng thái thiết bị",
        "func": "msg.relayId = msg.i\nmsg.payload = msg.states[msg.i].state\nmsg.topic = 'Cảm biến #' + msg.i\nmsg.id = msg.realTopic + '/' + msg.relayId\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 477.89060974121094,
        "y": 183.33600330352783,
        "wires": [
            [
                "1e1494ef.cac0fb",
                "f5a4c5c2.980f98"
            ]
        ]
    },
    {
        "id": "7a946284.69f28c",
        "type": "ui_template",
        "z": "6c281c8f.cbebc4",
        "group": "e3f2b7f4.3560e8",
        "name": "Mặt cắt giao diện",
        "order": 1,
        "width": "13",
        "height": "9",
        "format": "<button ng-repeat=\"button in msg.position\" ng-style=\"button.style\" type=\"button\" class=\"btn btn-circle\" ng-class=\"{'btn-success': button.state == 'ON'}\">\n        {{button.name || 'NN'}}\n</button>\n\n<img ng-src=\"{{msg.mat_cat_giao_dien}}\">",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1878.012981414795,
        "y": 511.01049518585205,
        "wires": [
            []
        ]
    },
    {
        "id": "a5115bd3.c35cb8",
        "type": "ui_template",
        "z": "6c281c8f.cbebc4",
        "group": "e3f2b7f4.3560e8",
        "name": "Giao diện bổ sung",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css' rel='stylesheet'>\n<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet'>\n<link href='https://fonts.googleapis.com/css?family=Lato:400,900,400italic,700italic' rel='stylesheet'>\n\n<style type=\"text/css\">\n.btn-circle.btn-xl {\n    width: 70px;\n    height: 70px;\n    padding: 10px 16px;\n    border-radius: 35px;\n    font-size: 24px;\n    line-height: 1.33;\n}\n\n.btn-circle {\n    width: 30px;\n    height: 30px;\n    padding: 6px 0px;\n    border-radius: 15px;\n    text-align: center;\n    font-size: 12px;\n    line-height: 1.42857;\n}\n\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 782.0129814147949,
        "y": 522.010142326355,
        "wires": [
            []
        ]
    },
    {
        "id": "ec9bc122.d4f35",
        "type": "inject",
        "z": "6c281c8f.cbebc4",
        "name": "Khi chương trình bắt đầu",
        "topic": "admin",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1063.2453346252441,
        "y": 585.9650964736938,
        "wires": [
            [
                "dea4ef3d.9b282"
            ]
        ]
    },
    {
        "id": "dea4ef3d.9b282",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "Thiết đặt thông số mặt định",
        "rules": [
            {
                "t": "set",
                "p": "mat_cat_giao_dien",
                "pt": "msg",
                "to": "http://sv1.upsieutoc.com/2018/05/30/Tram-3-bom.png",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1334.9999732971191,
        "y": 505.8888063430786,
        "wires": [
            [
                "25d526c2.086a8a"
            ]
        ]
    },
    {
        "id": "88eb9476.fd82a8",
        "type": "function",
        "z": "6c281c8f.cbebc4",
        "name": "Tạo nút trên máy bơm",
        "func": "var buttons = global.get('buttons') || {}\nmsg.position = buttons\nvar state = msg.payload // trạng thái khi lấy từ inut cảm biến\nbuttons[msg.id] = buttons[msg.id] || {}\nvar button = buttons[msg.id]\nbutton.state = state\nbutton.name = msg.name \nbutton.style = msg.style || {}\nvar style = button.style\nif (msg.top) {\n    style.top = msg.top\n}\n\nif (msg.left) {\n    style.left = msg.left\n}\n\nif (msg.width) {\n    style.width = msg.width\n}\n\nif (msg.height) {\n    style.height = msg.height\n}\nstyle.position = 'absolute'\nstyle['z-index'] = 100\n\nglobal.set('buttons', buttons)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1333.7224311828613,
        "y": 397.4443769454956,
        "wires": [
            [
                "25d526c2.086a8a"
            ]
        ]
    },
    {
        "id": "a37b89f3.f4cc18",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "Đặt vị trí nút nhỏ trên giao diện",
        "rules": [
            {
                "t": "set",
                "p": "top",
                "pt": "msg",
                "to": "186px",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "359px",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "Motor1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "width",
                "pt": "msg",
                "to": "40px",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "height",
                "pt": "msg",
                "to": "40px",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 769.2778701782227,
        "y": 123.44438171386719,
        "wires": [
            [
                "88eb9476.fd82a8"
            ]
        ]
    },
    {
        "id": "1b6d987.9253b68",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "Đặt vị trí nút nhỏ trên giao diện",
        "rules": [
            {
                "t": "set",
                "p": "top",
                "pt": "msg",
                "to": "243px",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "460px",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "M2",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "width",
                "pt": "msg",
                "to": "40px",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "height",
                "pt": "msg",
                "to": "40px",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 761.6666679382324,
        "y": 252.55549430847168,
        "wires": [
            [
                "88eb9476.fd82a8"
            ]
        ]
    },
    {
        "id": "23cfcfea.dbd6",
        "type": "ui_gauge",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "bd2e0753.422cb8",
        "order": 2,
        "width": "1",
        "height": "1",
        "gtype": "donut",
        "title": "M1",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1018.9444541931152,
        "y": 69.66666793823242,
        "wires": []
    },
    {
        "id": "541d53aa.5c42ac",
        "type": "ui_gauge",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "bd2e0753.422cb8",
        "order": 3,
        "width": "1",
        "height": "1",
        "gtype": "donut",
        "title": "M2",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1020.5555648803711,
        "y": 191.22222423553467,
        "wires": []
    },
    {
        "id": "ce0a2977.5cd1f8",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "Đặt vị trí nút nhỏ trên giao diện",
        "rules": [
            {
                "t": "set",
                "p": "top",
                "pt": "msg",
                "to": "300px",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "left",
                "pt": "msg",
                "to": "560px",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "M3",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "width",
                "pt": "msg",
                "to": "40px",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "height",
                "pt": "msg",
                "to": "40px",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 766.5555572509766,
        "y": 397.5554962158203,
        "wires": [
            [
                "88eb9476.fd82a8"
            ]
        ]
    },
    {
        "id": "3c8d1e59.4321a2",
        "type": "ui_gauge",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "bd2e0753.422cb8",
        "order": 4,
        "width": "1",
        "height": "1",
        "gtype": "donut",
        "title": "M3",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#00ff00"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1015.5555686950684,
        "y": 339.55549716949463,
        "wires": []
    },
    {
        "id": "ed1d143b.8d72f8",
        "type": "json",
        "z": "82e9215c.98061",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 144,
        "y": 153,
        "wires": [
            [
                "42c7c66d.8fa638"
            ]
        ]
    },
    {
        "id": "42c7c66d.8fa638",
        "type": "switch",
        "z": "82e9215c.98061",
        "name": "Kiểm tra trạng thái",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 306.00001525878906,
        "y": 153.9999542236328,
        "wires": [
            [
                "ccb3b312.78428"
            ],
            [
                "21e9e336.e4036c"
            ]
        ]
    },
    {
        "id": "ccb3b312.78428",
        "type": "change",
        "z": "82e9215c.98061",
        "name": "ONLINE",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ONLINE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480.55554962158203,
        "y": 120.66659927368164,
        "wires": [
            []
        ]
    },
    {
        "id": "21e9e336.e4036c",
        "type": "change",
        "z": "82e9215c.98061",
        "name": "OFFLINE",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFFLINE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480.1666564941406,
        "y": 180.7777099609375,
        "wires": [
            []
        ]
    },
    {
        "id": "25d526c2.086a8a",
        "type": "function",
        "z": "6c281c8f.cbebc4",
        "name": "Kiểm tra tham số",
        "func": "if (!msg.mat_cat_giao_dien)\n    msg.mat_cat_giao_dien = global.get('mat_cat_giao_dien')\nelse {\n    global.set('mat_cat_giao_dien', msg.mat_cat_giao_dien)\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1651.05562210083,
        "y": 511.2221918106079,
        "wires": [
            [
                "7a946284.69f28c"
            ]
        ]
    },
    {
        "id": "eaafdfe5.f8be",
        "type": "json",
        "z": "7ea1344.e6be0cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 116,
        "y": 91,
        "wires": [
            [
                "45e76bca.6606c4"
            ]
        ]
    },
    {
        "id": "bf4318b.b2e0ae8",
        "type": "switch",
        "z": "7ea1344.e6be0cc",
        "name": "Phân luồn",
        "property": "relayId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 776.9869575500488,
        "y": 295.1562738418579,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "45e76bca.6606c4",
        "type": "function",
        "z": "7ea1344.e6be0cc",
        "name": "Lặp",
        "func": "if (!msg.states) {\n    msg.states = msg.payload\n    msg.i = 0\n    msg.realTopic = msg.topic\n    return msg;\n} else {\n    msg.i++\n    \n    if (msg.i < msg.states.length)\n        return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 278.89060974121094,
        "y": 90.33600330352783,
        "wires": [
            [
                "80cf7479.238d58"
            ]
        ]
    },
    {
        "id": "80cf7479.238d58",
        "type": "function",
        "z": "7ea1344.e6be0cc",
        "name": "Lấy trạng thái thiết bị",
        "func": "msg.relayId = msg.i\nmsg.payload = msg.states[msg.i].state\nmsg.topic = 'Cảm biến #' + msg.i\nmsg.id = msg.realTopic + '/' + msg.relayId\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 428.89060974121094,
        "y": 190.33600330352783,
        "wires": [
            [
                "45e76bca.6606c4",
                "bf4318b.b2e0ae8"
            ]
        ]
    },
    {
        "id": "1f10ed35.7f83d3",
        "type": "mqtt in",
        "z": "6c281c8f.cbebc4",
        "name": "[MQTT-IN]Phòng y tế",
        "topic": "request/4aiEwGAgPEUVkfDMEw3Ht5gIQKz1/Byo30Dzif/bf104649dbe5ca286424c7d097ac067a775815934633",
        "qos": "2",
        "broker": "465809b1.3550c8",
        "x": 171.9999885559082,
        "y": 181.00000190734863,
        "wires": [
            [
                "71989333.b2059c"
            ]
        ]
    },
    {
        "id": "71989333.b2059c",
        "type": "subflow:7ea1344.e6be0cc",
        "z": "6c281c8f.cbebc4",
        "x": 435.3889045715332,
        "y": 180.38885974884033,
        "wires": [
            [
                "a37b89f3.f4cc18",
                "ec7748d.71d2ab8"
            ],
            [
                "1b6d987.9253b68",
                "85e18885.ae0588"
            ],
            [
                "ce0a2977.5cd1f8",
                "72be85d2.17d10c"
            ]
        ]
    },
    {
        "id": "ec7748d.71d2ab8",
        "type": "switch",
        "z": "6c281c8f.cbebc4",
        "name": "Kiểm tra phân luồn",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 728.8334503173828,
        "y": 60.22233200073242,
        "wires": [
            [
                "abf0ed7a.79c35"
            ],
            [
                "c4c13ca.5dfacc"
            ]
        ]
    },
    {
        "id": "abf0ed7a.79c35",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 886.8333435058594,
        "y": 46.22233295440674,
        "wires": [
            [
                "23cfcfea.dbd6"
            ]
        ]
    },
    {
        "id": "c4c13ca.5dfacc",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 889.4444541931152,
        "y": 84.66666889190674,
        "wires": [
            [
                "23cfcfea.dbd6"
            ]
        ]
    },
    {
        "id": "85e18885.ae0588",
        "type": "switch",
        "z": "6c281c8f.cbebc4",
        "name": "Kiểm tra phân luồn",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 726.4444465637207,
        "y": 185.6666612625122,
        "wires": [
            [
                "ecfb3d50.9bf68"
            ],
            [
                "281e5877.d85408"
            ]
        ]
    },
    {
        "id": "ecfb3d50.9bf68",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 884.4443397521973,
        "y": 171.66666221618652,
        "wires": [
            [
                "541d53aa.5c42ac"
            ]
        ]
    },
    {
        "id": "281e5877.d85408",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 887.0554504394531,
        "y": 210.11099815368652,
        "wires": [
            [
                "541d53aa.5c42ac"
            ]
        ]
    },
    {
        "id": "72be85d2.17d10c",
        "type": "switch",
        "z": "6c281c8f.cbebc4",
        "name": "Kiểm tra phân luồn",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 729.4444465637207,
        "y": 335.66660022735596,
        "wires": [
            [
                "9306a73c.8d0db8"
            ],
            [
                "f30ddea6.8fd5a"
            ]
        ]
    },
    {
        "id": "9306a73c.8d0db8",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 887.4443397521973,
        "y": 321.6666011810303,
        "wires": [
            [
                "3c8d1e59.4321a2"
            ]
        ]
    },
    {
        "id": "f30ddea6.8fd5a",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890.0554504394531,
        "y": 360.1109371185303,
        "wires": [
            [
                "3c8d1e59.4321a2"
            ]
        ]
    },
    {
        "id": "8488b44a.09b448",
        "type": "function",
        "z": "1b7cab7.de39555",
        "name": "Chuẩn bị lệnh trước khi gửi đến iNut i3",
        "func": "var json = {\"id\": parseInt(msg.topic, 10), \"command\": msg.payload};\nmsg.payload = json;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 425.99999237060547,
        "y": 192,
        "wires": [
            [
                "ec936fd0.408b6",
                "2c14bf93.7e86f"
            ]
        ]
    },
    {
        "id": "47e95f6e.4e4de",
        "type": "inject",
        "z": "1b7cab7.de39555",
        "name": "Kiểm tra thiết bị Online / 1 phút kiểm tra 1 lần",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 396.1664810180664,
        "y": 53.22203254699707,
        "wires": [
            [
                "3fe54d42.d64092"
            ]
        ]
    },
    {
        "id": "ec936fd0.408b6",
        "type": "debug",
        "z": "1b7cab7.de39555",
        "name": "in ra màn hình để debug thông tin",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 751.2474822998047,
        "y": 132.24242496490479,
        "wires": []
    },
    {
        "id": "3fe54d42.d64092",
        "type": "http request",
        "z": "1b7cab7.de39555",
        "name": "[REST][GET]Phòng y tế",
        "method": "GET",
        "ret": "txt",
        "url": "https://connect.mysmarthome.vn/api/1.0/request/4aiEwGAgPEUVkfDMEw3Ht5gIQKz1/Byo30Dzif/bf104649dbe5ca286424c7d097ac067a775815934633/req_device",
        "tls": "",
        "x": 772.16650390625,
        "y": 54.22203254699707,
        "wires": [
            [
                "2767a76a.88d068"
            ]
        ]
    },
    {
        "id": "2767a76a.88d068",
        "type": "subflow:82e9215c.98061",
        "z": "1b7cab7.de39555",
        "x": 1110.277660369873,
        "y": 178.5553855895996,
        "wires": [
            [
                "643468ef.28a0a8"
            ],
            [
                "643468ef.28a0a8"
            ]
        ]
    },
    {
        "id": "643468ef.28a0a8",
        "type": "ui_text",
        "z": "1b7cab7.de39555",
        "group": "bd2e0753.422cb8",
        "order": 1,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Trạng thái",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1395.5554542541504,
        "y": 179.33317756652832,
        "wires": []
    },
    {
        "id": "2c14bf93.7e86f",
        "type": "http request",
        "z": "1b7cab7.de39555",
        "name": "[REST][POST]Phòng y tế",
        "method": "POST",
        "ret": "txt",
        "url": "https://connect.mysmarthome.vn/api/1.0/request/4aiEwGAgPEUVkfDMEw3Ht5gIQKz1/Byo30Dzif/bf104649dbe5ca286424c7d097ac067a775815934633/req_device_toggle",
        "tls": "",
        "x": 758.8888397216797,
        "y": 215.33333778381348,
        "wires": [
            [
                "2767a76a.88d068"
            ]
        ]
    },
    {
        "id": "9f3086b9.07f068",
        "type": "ui_button",
        "z": "1b7cab7.de39555",
        "name": "",
        "group": "bd2e0753.422cb8",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Bật M1",
        "color": "",
        "bgcolor": "green",
        "icon": "fa-plug",
        "payload": "ON",
        "payloadType": "str",
        "topic": "0",
        "x": 138.99999237060547,
        "y": 110.0000057220459,
        "wires": [
            [
                "8488b44a.09b448"
            ]
        ]
    },
    {
        "id": "d97b43ab.90ce4",
        "type": "ui_template",
        "z": "1b7cab7.de39555",
        "group": "bd2e0753.422cb8",
        "name": "Logo trạm bơm nước",
        "order": 11,
        "width": 0,
        "height": 0,
        "format": "<img src=\"http://sv1.upsieutoc.com/2018/05/30/imageedit_1_6255206145.png\">",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 654.9999923706055,
        "y": 290,
        "wires": [
            []
        ]
    },
    {
        "id": "52ee57c8.e5c7a8",
        "type": "ui_button",
        "z": "1b7cab7.de39555",
        "name": "",
        "group": "bd2e0753.422cb8",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Tắt M1",
        "color": "",
        "bgcolor": "red",
        "icon": "fa-power-off",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "0",
        "x": 132.01302337646484,
        "y": 148.01041221618652,
        "wires": [
            [
                "8488b44a.09b448"
            ]
        ]
    },
    {
        "id": "e971cedb.7ff4f",
        "type": "ui_button",
        "z": "1b7cab7.de39555",
        "name": "",
        "group": "bd2e0753.422cb8",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Bật M2",
        "color": "",
        "bgcolor": "green",
        "icon": "fa-plug",
        "payload": "ON",
        "payloadType": "str",
        "topic": "1",
        "x": 136.01302337646484,
        "y": 209.01040649414062,
        "wires": [
            [
                "8488b44a.09b448"
            ]
        ]
    },
    {
        "id": "417924a5.a695cc",
        "type": "ui_button",
        "z": "1b7cab7.de39555",
        "name": "",
        "group": "bd2e0753.422cb8",
        "order": 9,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Tắt M2",
        "color": "",
        "bgcolor": "red",
        "icon": "fa-power-off",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "1",
        "x": 130.02605438232422,
        "y": 248.02080821990967,
        "wires": [
            [
                "8488b44a.09b448"
            ]
        ]
    },
    {
        "id": "9ecaba45.290228",
        "type": "ui_button",
        "z": "1b7cab7.de39555",
        "name": "",
        "group": "bd2e0753.422cb8",
        "order": 8,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Bật M3",
        "color": "",
        "bgcolor": "green",
        "icon": "fa-plug",
        "payload": "ON",
        "payloadType": "str",
        "topic": "2",
        "x": 137.01302337646484,
        "y": 303.0104064941406,
        "wires": [
            [
                "8488b44a.09b448"
            ]
        ]
    },
    {
        "id": "f3d7cec3.b8dcf",
        "type": "ui_button",
        "z": "1b7cab7.de39555",
        "name": "",
        "group": "bd2e0753.422cb8",
        "order": 10,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Tắt M3",
        "color": "",
        "bgcolor": "red",
        "icon": "fa-power-off",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "2",
        "x": 130.02605438232422,
        "y": 341.02081298828125,
        "wires": [
            [
                "8488b44a.09b448"
            ]
        ]
    },
    {
        "id": "421bae80.4bf27",
        "type": "inject",
        "z": "1b7cab7.de39555",
        "name": "",
        "topic": "0",
        "payload": "TOGGLE",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 152.38888549804688,
        "y": 396.7777805328369,
        "wires": [
            [
                "8488b44a.09b448"
            ]
        ]
    }
]