flow/kspflows.json
[
    {
        "id": "6c281c8f.cbebc4",
        "type": "tab",
        "label": "Giao diện quản lý",
        "disabled": false,
        "info": ""
    },
    {
        "id": "16fa6e68.10eb82",
        "type": "subflow",
        "name": "Lấy dữ từ iNut",
        "info": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "b10e0e64.9d8a1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 859.0000343322754,
                "y": 98.00000190734863,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 0
                    }
                ]
            },
            {
                "x": 968.0000343322754,
                "y": 102.00000286102295,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1048.9999732971191,
                "y": 101.00000381469727,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 2
                    }
                ]
            },
            {
                "x": 1116.9999732971191,
                "y": 112.00000381469727,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 3
                    }
                ]
            },
            {
                "x": 1178.0000820159912,
                "y": 129.0000057220459,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 4
                    }
                ]
            },
            {
                "x": 1216.0000820159912,
                "y": 188.0000057220459,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 5
                    }
                ]
            },
            {
                "x": 1189.0000839233398,
                "y": 263.00000762939453,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 6
                    }
                ]
            },
            {
                "x": 1173.9999742507935,
                "y": 312.00000762939453,
                "wires": [
                    {
                        "id": "f5a4c5c2.980f98",
                        "port": 7
                    }
                ]
            }
        ],
        "inputLabels": [
            "Nhận đầu vào MQTT IN từ iNut cảm biến"
        ],
        "outputLabels": [
            "Luồng cảm biến 1",
            "Luồng cảm biến 2",
            "Luồng cảm biến 3",
            "Luồng cảm biến 4",
            "Luồng cảm biến 5",
            "Luồng cảm biến 6",
            "Luồng cảm biến 7",
            "Luồng cảm biến 8"
        ]
    },
    {
        "id": "f4134e17.6b60a",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#ff8000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#ff8000",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Dark iNt",
                "default": "#4B7930",
                "baseColor": "#ff8000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#ff8000",
                    "value": "#ff8000",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#ff8000",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#818181",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#fd7e00",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#d2d2d2",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#efefef",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#ff8f20",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "iNut Platform Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 64,
                "sy": 64,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "294eb87b.b71b48",
        "type": "ui_tab",
        "z": "",
        "name": "Cài dặt iNut PLC",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "52cad39c.c8472c",
        "type": "ui_group",
        "z": "",
        "name": "Danh sách thanh ghi",
        "tab": "294eb87b.b71b48",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "6cb23209.ac4bdc",
        "type": "serial-port",
        "z": "",
        "serialport": "COM4",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "7a8f72d6.17b1fc",
        "type": "ui_group",
        "z": "",
        "name": "Chỉnh sửa thông số thanh ghi",
        "tab": "294eb87b.b71b48",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7c317533.cdb80c",
        "type": "ui_group",
        "z": "",
        "name": "Nút nhấn nhanh",
        "tab": "294eb87b.b71b48",
        "order": 4,
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "d42d02b5.bbdbc",
        "type": "ui_group",
        "z": "",
        "name": "Thông số iNut PLC",
        "tab": "294eb87b.b71b48",
        "order": 3,
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "5b2fcdbc.873ea4",
        "type": "ui_group",
        "z": "",
        "name": "Lịch sử phản hồi",
        "tab": "294eb87b.b71b48",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b10e0e64.9d8a1",
        "type": "json",
        "z": "16fa6e68.10eb82",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 165,
        "y": 84,
        "wires": [
            [
                "1e1494ef.cac0fb"
            ]
        ]
    },
    {
        "id": "f5a4c5c2.980f98",
        "type": "switch",
        "z": "16fa6e68.10eb82",
        "name": "Phân luồn",
        "property": "relayId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 8,
        "x": 825.9869575500488,
        "y": 288.1562738418579,
        "wires": [
            [],
            [],
            [],
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "86d47f8c.ade7a",
        "type": "function",
        "z": "16fa6e68.10eb82",
        "name": "Chuỗi => Số",
        "func": "if (!msg.noInt)\n    msg.payload = parseInt(msg.payload, 10)\nelse\n    msg.payload = parseFloat(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 578.8906364440918,
        "y": 314.3359966278076,
        "wires": [
            []
        ]
    },
    {
        "id": "1e1494ef.cac0fb",
        "type": "function",
        "z": "16fa6e68.10eb82",
        "name": "Lặp",
        "func": "if (!msg.states) {\n    msg.states = msg.payload\n    msg.i = 0\n    return msg;\n} else {\n    msg.i++\n    \n    if (msg.i < msg.states.length)\n        return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 327.89060974121094,
        "y": 83.33600330352783,
        "wires": [
            [
                "c3a97343.a2626"
            ]
        ]
    },
    {
        "id": "c3a97343.a2626",
        "type": "function",
        "z": "16fa6e68.10eb82",
        "name": "Lấy trạng thái thiết bị",
        "func": "msg.relayId = msg.i\nmsg.payload = msg.states[msg.i].state\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 477.89060974121094,
        "y": 183.33600330352783,
        "wires": [
            [
                "1e1494ef.cac0fb",
                "f5a4c5c2.980f98"
            ]
        ]
    },
    {
        "id": "c9114c52.0f737",
        "type": "serial in",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "serial": "6cb23209.ac4bdc",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "680204f1.e368ac",
                "4096058f.8d5c7c"
            ]
        ]
    },
    {
        "id": "680204f1.e368ac",
        "type": "debug",
        "z": "6c281c8f.cbebc4",
        "name": "[Debug]Dữ liệu thô phản hồi",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 320,
        "y": 720,
        "wires": []
    },
    {
        "id": "20f56ab1.f9eca6",
        "type": "ui_text",
        "z": "6c281c8f.cbebc4",
        "group": "52cad39c.c8472c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cân",
        "format": "{{msg.payload.weight}}",
        "layout": "row-spread",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "60357a34.177fb4",
        "type": "ui_text",
        "z": "6c281c8f.cbebc4",
        "group": "52cad39c.c8472c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Chiều cao",
        "format": "{{msg.payload.height}}",
        "layout": "row-spread",
        "x": 698.611083984375,
        "y": 381.6666564941406,
        "wires": []
    },
    {
        "id": "4096058f.8d5c7c",
        "type": "json",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 266.88888931274414,
        "y": 505.6668281555176,
        "wires": [
            [
                "a0f65547.5784f8"
            ]
        ]
    },
    {
        "id": "a0f65547.5784f8",
        "type": "switch",
        "z": "6c281c8f.cbebc4",
        "name": "Phân luồn lệnh",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "INFO",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BLE_INFO",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 424.88891983032227,
        "y": 504.9999990463257,
        "wires": [
            [
                "20f56ab1.f9eca6",
                "60357a34.177fb4",
                "1b0fd419.fb187c",
                "ad3dd527.44b098"
            ],
            [
                "f21873da.f4d84"
            ]
        ]
    },
    {
        "id": "1073bfc7.15105",
        "type": "serial out",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "serial": "6cb23209.ac4bdc",
        "x": 2231.277816772461,
        "y": 1106.2221326828003,
        "wires": []
    },
    {
        "id": "7b86d796.a61c38",
        "type": "inject",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "topic": "Tự động 1s / lần",
        "payload": "INFO",
        "payloadType": "str",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1725.2778244018555,
        "y": 1113.9999208450317,
        "wires": [
            [
                "db6e4f27.070cc"
            ]
        ]
    },
    {
        "id": "db6e4f27.070cc",
        "type": "function",
        "z": "6c281c8f.cbebc4",
        "name": "Chuẩn bị lệnh",
        "func": "msg.args = msg.args || {}\nmsg.args = JSON.stringify(msg.args)\nmsg.payload = msg.payload + \"$\" + msg.args + \"$\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1990.277816772461,
        "y": 1132.444385021925,
        "wires": [
            [
                "1073bfc7.15105",
                "c7131116.45669"
            ]
        ]
    },
    {
        "id": "c7131116.45669",
        "type": "debug",
        "z": "6c281c8f.cbebc4",
        "name": "[Debug]Lệnh gửi đi tên là gì?",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2276.888931274414,
        "y": 1192.2221632003784,
        "wires": []
    },
    {
        "id": "36d5ba89.9ef536",
        "type": "ui_form",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "label": "Thiết đặt thanh ghi BLE",
        "group": "7a8f72d6.17b1fc",
        "order": 1,
        "width": "6",
        "height": "3",
        "options": [
            {
                "label": "Địa chỉ",
                "value": "address",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "address": ""
        },
        "payload": "",
        "topic": "",
        "x": 1520,
        "y": 1180,
        "wires": [
            [
                "a9030a6f.889838"
            ]
        ]
    },
    {
        "id": "a9030a6f.889838",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": "BLE",
        "rules": [
            {
                "t": "set",
                "p": "args",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "BLE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1736.277816772461,
        "y": 1176.3332538604736,
        "wires": [
            [
                "db6e4f27.070cc"
            ]
        ]
    },
    {
        "id": "d9cf18de.2d91b8",
        "type": "ui_button",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "7c317533.cdb80c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "HELP",
        "color": "",
        "bgcolor": "",
        "icon": "help",
        "payload": "HELP",
        "payloadType": "str",
        "topic": "",
        "x": 1653.2778129577637,
        "y": 886.9999322891235,
        "wires": [
            [
                "db6e4f27.070cc"
            ]
        ]
    },
    {
        "id": "3b2ca9d5.c8a026",
        "type": "ui_button",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "7c317533.cdb80c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "VERSION",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "VER",
        "payloadType": "str",
        "topic": "",
        "x": 1664.8889274597168,
        "y": 930.8888206481934,
        "wires": [
            [
                "db6e4f27.070cc"
            ]
        ]
    },
    {
        "id": "666bbe.8238d444",
        "type": "ui_button",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "7c317533.cdb80c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tắt chế độ ghi thanh ghi",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "DIW",
        "payloadType": "str",
        "topic": "",
        "x": 1712.8889236450195,
        "y": 842.8888301849365,
        "wires": [
            [
                "db6e4f27.070cc"
            ]
        ]
    },
    {
        "id": "8941c07a.e9b72",
        "type": "ui_button",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "group": "7c317533.cdb80c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Bật chế độ ghi thanh ghi",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "ENW",
        "payloadType": "str",
        "topic": "",
        "x": 1713.8889236450195,
        "y": 796.2221384048462,
        "wires": [
            [
                "db6e4f27.070cc"
            ]
        ]
    },
    {
        "id": "b5403f9f.f62d6",
        "type": "inject",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "topic": "Tự động 1s / lần",
        "payload": "CONF",
        "payloadType": "str",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1724.8889236450195,
        "y": 1073.5554819107056,
        "wires": [
            [
                "db6e4f27.070cc"
            ]
        ]
    },
    {
        "id": "1b0fd419.fb187c",
        "type": "ui_text",
        "z": "6c281c8f.cbebc4",
        "group": "52cad39c.c8472c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "BLE address",
        "format": "{{msg.payload.ble_address}}",
        "layout": "row-spread",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "ad3dd527.44b098",
        "type": "ui_text",
        "z": "6c281c8f.cbebc4",
        "group": "52cad39c.c8472c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Offset",
        "format": "{{msg.payload.offset}}",
        "layout": "row-spread",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "a07d8196.88448",
        "type": "function",
        "z": "6c281c8f.cbebc4",
        "name": "Cài đặt BLES",
        "func": "var bles = global.get(\"bles\") || {}\n\nbles[msg.payload.address] = bles[msg.payload.address] || msg.payload\nvar ble = bles[msg.payload.address]\nble.datetime = msg.datetime\nfor (var key in msg.payload) {\n    ble[key] = msg.payload[key]\n}\nmsg.bles = bles\n\nglobal.set(\"bles\", bles)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 900,
        "y": 500,
        "wires": [
            [
                "8f942824.eeda38",
                "d61f677f.6c67e8"
            ]
        ]
    },
    {
        "id": "f21873da.f4d84",
        "type": "change",
        "z": "6c281c8f.cbebc4",
        "name": ".datetime",
        "rules": [
            {
                "t": "set",
                "p": "payload.datetime",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "datetime",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 500,
        "wires": [
            [
                "a07d8196.88448"
            ]
        ]
    },
    {
        "id": "8f942824.eeda38",
        "type": "debug",
        "z": "6c281c8f.cbebc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "bles",
        "x": 1070,
        "y": 420,
        "wires": []
    },
    {
        "id": "d61f677f.6c67e8",
        "type": "ui_template",
        "z": "6c281c8f.cbebc4",
        "group": "52cad39c.c8472c",
        "name": "Danh sách thiết bị xung quanh",
        "order": 0,
        "width": "16",
        "height": "5",
        "format": "<div ng-repeat=\"(id, ble) in msg.bles\">\n    <div>{{id}}</div> \n    <div>{{ble}}</div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1150,
        "y": 500,
        "wires": [
            []
        ]
    }
]